/* video background */
#background-video {
  /* width: 100vw;
  height: 100vh; */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* page content */

body {
  background-color: white;
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: white;
  background-color: white;
  font-weight: bold;
  text-align: center;
}

h1 {
  background-color: white;
  color: white;
  font-size: 6rem;
  margin-top: 30vh; 
}

h2 { font-size: 3rem; }

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://wallpaperaccess.com/full/1846922.jpg") no-repeat;
      background-size: cover;
      background-color: white;
    }
}
/* https://assets.codepen.io/6093409/river.jpg */
main {
/*   background-color: lightblue; */
  background-color: white;
  font-size: 2rem;
  margin-top: 50vh;
  padding: 10px;
  position: relative;
}

/* div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
} */
